@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tvoje utilitky – minimální */
:root {
  --surface: theme(colors.light.surface);
  --border: theme(colors.light.border);
}
.dark :root {
  --surface: theme(colors.dark.surface);
  --border: theme(colors.dark.border);
}
